@font-face {
    font-family: "Lato";
    src: url("Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato-bold";
    src: url("Lato/Lato-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.background {
    background-color: antiquewhite;
    min-height: 100vh;
}
h1 {
    font-family: 'Lato-bold', sans-serif;
}
body, h2, h3, p {
    font-family: 'Lato', sans-serif;
}

.currentScoreDisplay {
    border-radius: 1.5vh;
    display: inline-block;
    width: 40vh;
}

.currentScoreDisplay, h1 {
    color: antiquewhite;
}

.dice_icon {
    display: inline-block;
    max-width: 20vh;
}

.dice_animation {
    animation: 0.2s dice_shake
}

@keyframes dice_shake {
    0% {transform: rotate(0deg)}
    10% {transform: rotate(10deg)}
    20% {transform: rotate(15deg);}
    30% {transform: rotate(20deg)}
    40% {transform: rotate(30deg);}
    50% {transform: rotate(35deg)}
    60% {transform: rotate(25deg);}
    70% {transform: rotate(20deg)}
    80% {transform: rotate(10deg);}
    90% {transform: rotate(5deg)}
    100% {transform: rotate(0deg)}
}

.player_turn::after {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: 1em;
    background-image: url(Images/dot.svg);
    vertical-align: middle;
    margin-left: 0.25em;
}

#newGame_icon {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
}

@media screen and (max-width: 340px) {
    .currentScoreDisplay {
        width: 25vh;
    }
}

